.QBC {
  &.fullContainer {
    .mid-container {
      max-width: 95% !important;
    }
    .SplitPane {
      min-height: calc(80vh);
    }
    #grammar-checker {
      min-height: calc(75vh);
    }
    #inputGridContainerRef {
      min-height: calc(75vh);
    }
    #cgr-container {
      min-height: calc(85vh);
    }
  }
}
